* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/bggradient.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* endable this to add smooth scrolling */
html {
    scroll-behavior: smooth;
} 

/* Style the header */
header {
  background-color: #47c5d6;
  padding: 30px;
  text-align: center;
  font-size: 25px;
  color: white;
}

.back {
    float: left;
    display: block;
}

h1 {
    text-align: center;
}

/* Style the navigation menu */
nav {
  flex: 1;
  padding: 20px;
}

/* div h2 font */
div h2{
    font-size: 25px;
}

/* div p font */
div p {
    font-size: 15px;
}

/* Container for flexboxes */
.flex_container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    /*align-items: center; */
}

.flex_item-left {
  padding: 10px;
  flex: 50%;
}

.flex_item-left img {
    padding-bottom: 10px;
    width: 313px;
    height: 313px;
}


.flex_item-right {
    padding: 10px;
    flex: 50%;
}

.mrgn {
    height: 313px;
}

.mrgn p{
    padding-left: 3px;
    text-align: left;
}

.vid {
    text-align: center;
    padding-bottom: 20px;
}

/* Style the footer */
footer {
  padding: 10px;
  text-align: center;
  color: gray;
}

/* makes a one column-layout instead of two-column layout */
@media (max-width: 600px) {
    
    .flex_container {
        flex-direction: column;
        flex: 100%;
    }
    
    .flex_item-left img:hover {
        transform: scale(1.04);
        opacity: .7;
        overflow: hidden;
    }
    
  }

/* displays larger than 1200 px keep two column layout */

@media (min-width: 800px){
   /* Container for flexboxes */
.flex_container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    /*align-items: center; */
}

.flex_item-left {
  padding: 10px;
  flex: 35%;
}

.flex_item-right {
    padding: 10px;
    flex: 65%;
}
    
.mrgn h2 { 
    text-align: left;
}

   
}




