

section {
    padding: 5em 2em;
}

img {
    max-width: 100%;
}

strong { 
    font-weight: 900);
    font-size: 2rem;
}

/*     body     */
body {
    background-image: url(../images/bggradient.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*  Intro section  */

.intro {
    position: relative;
}

.section__title {
    margin-bottom: .25em;
    margin-top: 8%;
    margin-right: 45%;
    float: right;
}

.section__title--intro {
    font-weight: 300;
}

.section__title--intro strong {
    display: block;
}
.intro_img {
    display: block;
    box-shadow: 0.1em 0.1em 0.75em 0.02em #888888;
    border-radius: 10em;
}


h2 {
    text-align: center;
    background: #47c5d6;
}


/* About Section */
.about-section {
    text-align: center;
}


/*    List items    */
li {
    padding-bottom: 1em;
    list-style: none;
}



/*    class work/Projects    */

.work{
    text-align: center;
    width: 100%;
}

.muffin {
    width: 480px;
    height: 320px;
}
.work img{
    border-radius: 6px;
    margin: 1%;
}

.work img:hover {
    transform: scale(1.04);
    opacity: .7;
    overflow: hidden;
}


/*    Personal works at bottom   */

.work2 {
    width: 100%;
    height: 90%;
    text-align: center;
}

.work2  img{
    margin: 1%;
    width: 60%;
}


/*     footer     */

footer {
    text-align: center;
    width: 90%;
    margin: 60px auto;
}

footer p {
    color: grey;
}