*{
    border: none;
    padding: 0px;
}

.details-container{
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    top: calc(50vh - 260px);
    left: 0;
    background-color: #ecf0f1;
    border-radius: 18px;
    transition: 0.5s;
}

.details-item{
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.details-item h2{
    margin-left: 10px;
}

.details-item p{
    margin: right: 10px;
}

.details{
    display: flex;
    padding-bottom: 10px;
    border-radius: 14px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.details div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.details p{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.125rem;
    padding-left: 5px;
}

.left{
    text-align: center;
}

.details-button{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #2c3e50;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.details-button p{
    font-weight: 700;
    color: white;
}