body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: #009578;
    position: relative;
    overflow: hidden;
}

#app{
    display: flex;
    width: 100%;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.note{
    height: 200px;
    width: 300px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    resize: none;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 10px 0;
}

.add-note{
    height: 75px;
    width: 75px;
    border: none;
    outline: none;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
    transition: background 0.2s;
    position: absolute;
    right: 6px;
    bottom: 10px;
}

.add-note:hover{
    background: rgba(0, 0, 0, 0.2);
}

.add-note:active{
    background: rgba(0, 0, 0, 0.3);
}

